html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img ,span,div{ margin:0; padding:0; }
fieldset ,a{text-decoration:none;}
ul, ol {list-style:none;}
img{border:none; }
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
em,i{font-style:normal;}
body{font-family:"微软雅黑","Arial Narrow", HELVETICA;font-size:12px;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
input{outline: none;}


/*放大镜*/
.detail-main{
	width:1100px;
	height:800px;
	
	margin:15px auto 0;
}
.fdj{
	width:480px;
	height:617px;
	float:left;
	position: relative;
}

.pic-box{
	line-height: 
}
.pic-box{
    width:478px;
    height:478px;
    border:1px solid #EAEAEA;
    overflow: hidden;  
}
.fdj-pic{
	 margin-top: 64px;
}
.pic-small{
	width:480px;
	height:90px;
	margin-top: 26px;
	position: relative;
}
.pic-small li{
	float:left;
	width:86px;
	height:84px;
	overflow: hidden;
	margin:0 1px;
	border:1px solid #ccc;
}
.pic-small>span:nth-child(1){
	float:left;
	display: block;
	width:14px;
	height:87px;
	position: absolute;
	left:0;
	top:0;
	background: url(../images/detail/brandstore_share.png) no-repeat -32px -362px #f2f2f2;
}
.pic-small>span:nth-child(2){
    float:left;
	display: block;
	width:15px;
	height:87px;
	position: absolute;
	left:465px;
	top:0px;
	background: url(../images/detail/brandstore_share.png) no-repeat -73px -362px #f2f2f2;
}
.pic-small ul{
	width:460px;
	height:87px;
	margin-left: 14px;
}
.big-glass{
	width:478px;
	height:359px;
	position: absolute;
	left:500px;
	top:62px;
	border:1px solid #999;
	box-shadow: 0 0 3px 3px #ccc;
    z-index: 30;
    overflow: hidden;
    display: none;
}
#big{
	position: absolute;
}
.fdj-pic,#center{
	width:478px;
	height:359px;
	overflow: hidden;
	position: absolute;
	left:1px;
	top:0;
}
#mask{
	width:239px;
	height:179.5px;
	background: red;
	position: absolute;
	left:0;
	top:0;
	overflow: hidden;
}
#maskimg{
	position: absolute;
}


























.txt-box{
	width:560px;
	height:799px;
	float:left;
	padding-left: 60px;
	
}
.message1 li{
	height:30px;
	line-height: 30px;
	font-size: 18px;
}
.message1 li:nth-child(3){
	font-size: 10px;
}
.message1 li:nth-child(1) a,.message1 li:nth-child(3){
	color:#999;
}
.message1 li:nth-child(2) a{
	color:#000;
}
.message1{
	border-bottom: 1px dashed #999;
}

.message2{
	position: relative;
	padding: 10px 0;
}
.message2>li{
	float:left;
}
.message2>li:nth-child(1){
	color:#c8a985;
	font-size: 28px;
	line-height: 34px;
}
.message2>li:nth-child(2){
	color:#999;
	font-size: 16px;
	text-decoration: line-through;
	line-height: 50px;
	padding-left:8px;
}
.message2>li:nth-child(3){
	width:80px;
	height:20px;
	background-color: #c8a985;
	border-radius:8px;
	line-height: 20px;
	text-align: center;
	margin:12px 0 0 5px;
	position: relative;

}
.mes2-hidden1{
	display: none;
	position: absolute;
	left:0px;
	top:7px;
	width:202px;
	height:124px;
	background: #fff;
	z-index: 1;
	border:1px solid #000;
	border-top:none;
	border-radius: 3px;
	text-align: center;
	padding-top: 20px;

}
.mes2-hidden1 p{
	line-height: 22px;
}
.enjoy{
	display: inline-block;
	width:110px;
	height:24px;
	background: #c8a985;
	color:#fff;
	border-radius: 5px;
	margin-top: 10px;

}
.message2>li:nth-child(3) a{
	color:#fff;
}
.message2 .mess-last{
	float:right;
	margin: 6px 0 0 0;
	width:200px;
	height:30px;
	position: relative;
	line-height: 30px;

}
.mess-last span,.mess-last i{
	display: inline-block;
	float:left;
	margin:2px;
	color:#999;
}
.mess-last>img{
	display: none;
	position: absolute;
	left:0;
	top:30px;
}
.mes2-hidden1{
	position: relative;
}
.mes2-htop{
	position: absolute;
	top:-6px;
	left:0;
	width:202px;
	height:6px;
	background: url(../images/detail/149734560273_202x6.jpg) no-repeat;
}

/*分期*/
.install{
	clear:both;
	width:560px;
	height:40px;
	line-height: 30px;
	position: relative;
	border-bottom: 1px dashed #999;
}
.install>span:nth-child(1){
	display: inline-block;
	width:90px;
	padding-left: 10px;
	float: left;
}
.install>span:nth-child(2){
	font-size: 20px;
	font-weight: bold;
	color:#c8a985;
	float: left;
}
.install-num{
	display: inline-block;
	float: left;
	margin-left: 10px;
}
.install-hidden{
	display: none;
	position: absolute;
	box-shadow: 0 0 3px 2px #ccc;
	top:0;
	left:260px; 
	z-index: 9;
	background:#fff;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 22px;

}
.install-hidden img{
	position: absolute;
	left:-8px;
	top:14px;
}
.tax{
	height: 54px;
	border-bottom: 1px dashed #999;
}
.tax>span{
	width:80px;
	float:left;
	display: inline-block;
	text-align: left;
	padding-left: 13px;
	height:24px;
	line-height: 54px;
}
.tax i{
	width:50px;
	display: inline-block;
	float:left;
	line-height: 54px;

}
.tax>div{
	position: relative;
}
.tax>div a{
	display: inline-block;
	line-height: 60px;
}
.tax-hidden{
	position: absolute;
	box-shadow: 0 0 3px 2px #ccc;
	z-index: 9;
	width: 240px;
	background: #fff;
	padding:0 10px;
	left:170px;
	top:15px;
	display: none;
}

.activity{
	overflow: hidden;
	height:60px;
	width:560px;
	border-bottom: 1px dashed #999;
}
.activity span{	
	width:80px;
	float:left;
	display: inline-block;
	text-align: left;
	padding-left: 13px;
	line-height: 40px;
    font-weight: bold;
}
.act-mesg{
	padding-top: 7px;
	float:left;
}
.act-mesg p{
    line-height: 24px;
    color:#c8a985;
}
.act-jiao{
	width:50px;
	height:35px;
	display: inline-block;
	float:right;
	background: url(../images/detail/brandstore_share.png) no-repeat -369px -283px;
	margin:0px 20px 0 0;
}

/*大小*/
.big-small{
	width:560px;
	height:107px;
}
.big-small span{
	width:80px;
	float:left;
	display: inline-block;
	text-align: left;
	padding-left: 13px;
	height:24px;
	line-height: 60px;
}
.tab{
	float:left;
	width: 452px;
}
.tab li{
	float: left;
	width:32px;
	height:32px;
	border:1px solid #ccc;
	margin:14px 13px 0 0;
	text-align: center;
	line-height: 32px;
}
.tab li:last-child{
	border:1px solid red;
}
.tab li:hover{
	color:#c8a985;
}
.m-color{
	width:560px;
	height:61px;

}
.m-color span{
	width:80px;
	float:left;
	display: inline-block;
	text-align: left;
	padding-left: 13px;
	height:24px;
	line-height: 50px;
}
.m-color p{
	float:left;
	width:40px;
	height:30px;
	border:1px solid red;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
}

.m-count{
	width:560px;
	height:58px;
	border-bottom: 1px dashed #ccc;
   
}
.m-count span{
	width:80px;
	float:left;
	display: inline-block;
	text-align: left;
	padding-left: 13px;
	height:24px;
	line-height: 50px;
}

.min,.add{
	display: inline-block;
	float: left;
	width:22px;
	height:22px;
	background: #c8a985;
}
.m-count-num{
	float:left;
	margin-top:14px;
	
}
.m-count-num span{
	display: block;
	float:left;
	width:35px;
	height:19px;
	line-height: 19px;
	text-align: center;
	border:1px solid #ccc;
	margin:0 3px;
	font-weight: bold;
}
.m-count-num a{
	color:#fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
}

