html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img ,span,div{ margin:0; padding:0; }
fieldset ,a{text-decoration:none;}
ul, ol {list-style:none;}
img{border:none; }
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
em,i{font-style:normal;}
body{font-family:"微软雅黑","Arial Narrow", HELVETICA;font-size:12px;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
input{outline: none;}

/*全局*/
header,.headerWrap,.navWrap,.bannerWrap,.footer-logoWrap{width:100%;}
.header,.logoW,.nav,.brandWrap,.overseaWrap,.shopWrap,.shopingWrap,.proWrap,.footer-logo,.footer-main,.footer{width:1210px;margin:0 auto;}
/*header*/
header{height:80px;background:url(../images/header.jpg) center top;}
.headerWrap{height:30px;background-color: #f2f2f2;position: relative;}
.header ul li{float:left;height:30px;line-height: 15px;text-align:center;line-height: 30px;}
.header-r{float:right;}
.index{background:url(../images/index.jpg) no-repeat 0 7px;width:87px;padding-left: 23px;}
.phone{background:url(../images/phone_03.jpg) no-repeat 0 7px;margin-left:18px;padding-left:18px;}
.header-r>li{padding:0 18px;background:url(../images/shu_03.jpg) no-repeat 0 7px;}
.header-r>li:first-child{background:none;}
.header-r{background:url(../images/youli.gif) no-repeat 80px 0;}
.header-r>li:nth-child(2){padding-left: 47px;}
.h-ul{position: absolute;z-index: 2;left:895px;top:30px;background-color: #fff;width:117px;display: none;}
.h-ul li{clear:both;width:117px;text-align: center;}
.header-r .five{background:url(../images/jiao1_03.jpg) no-repeat 105px 13px,url(../images/shu_03.jpg) no-repeat 0 7px;padding-right: 42px;}
.header-r .five:hover+.h-ul{display: block;z-index: 2;}
.five:hover>a{color:#b28247;}
.header-r .five:hover{background: url(../images/jiao2_03.jpg) no-repeat 105px 13px,url(../images/shu_03.jpg) no-repeat 0 7px #fff;}
.header-r .pho{background:url(../images/wem1_03.jpg) no-repeat 85px 8px,url(../images/shu_03.jpg) no-repeat 0 7px;width:108px;}
.header-r .pho a{margin-right: 40px;}

.pho dl{display:none;background-color: #fff;width:135px;z-index: 2;position: relative;margin-left: -15px;padding-right: 13px;}
.pho dd{height:22px;line-height:20px;}
.pho:hover{background:url(../images/wem2_03.jpg) no-repeat 85px 8px,url(../images/shu_03.jpg) no-repeat 0 7px #fff;}
.header-r .pho:hover dl{display: block;}

/*logo*/
.logoW{height:110px;position: relative;}
.logo{height:110px;}
.yijian{margin:15px 0 0 46px;}
.search{width:264px;height:36px;border:2px solid #c69c6d;margin:35px 0 0 56px;}
.sear{width:83px;height:42px;background-color: #c69c6d;margin-top:35px;}
.sear a{color:#fff;font-size: 15px;line-height: 42px;margin-left: 23px;}
.logoW ul{position: absolute;left:488px;top:82px;}
.logoW ul li{float:left;color:#999999;padding-right: 25px;}
.logoW>img{margin:36px 0 0 56px;z-index: 0;}

/*nav*/
.navWrap{height:38px;background-color: #191919;}
.nav>li{float:left;line-height: 38px;padding:0 23px;}
.nav li a{color:#c8883f;font-size: 14px;}
.daodian i{width:19px;height:38px;display:inline-block;background: url(../images/share02.png) no-repeat -58px -169px;float:left;}
.daodian span{display:inline-block;float:left;}
.daodian a{
	display: block;
	height:38px;
}
.nav .sea{padding-left: 10px;}
.nav .sea a{
	display: block;
	height:38px;
}
.nav .last-li{padding:0;}
.last-li img{margin:5px 8px 0;}
.last-li a{
	display: block;
	float: left;
	height:38px;
}
.red{background-color: #cf0101;position: relative;}
.nav .red a{color:#fff;}
.red{
	width:90px;
}
.nav li:hover a{color:#fff;}
.red .hidden{
	z-index: 10;
	display: none;
	position: absolute;
	left:0px;
	width:136px;
	height:541px;	
	color:#000;	
}
.red .hidden li{
	opacity:.8;
	background: #fff;
	width:136px;
	height:35px;
	line-height: 35px;
	clear:both;
	
}
.red .hidden span{
	color:#000;
}
.hidden i{
	float: left;
}
.hidden li i{
	display: inline-block;
	width:47px;
	height:35px;
	background: url(../images/brand_category1.png) no-repeat;
}
.hidden .li1 i{background-position: 0 0;}
.hidden .li2 i{background-position: 0 -35px;}
.hidden .li3 i{background-position: 0 -70px;}
.hidden .li4 i{background-position: 0 -100px;}
.hidden .li5 i{background-position: 0 -132px;}
.hidden .li6 i{background-position: 0 -163px;}
.hidden .li7 i{background-position: 0 -200px;}
.hidden .li8 i{background-position: 0 -229px;}
.hidden .li9 i{background-position: 0 -262px;}
.hidden .li10 i{background-position: 0 -293px;}
.hidden .li11 i{background-position: 0 -323px;}
.hidden .li12 i{background-position: 0 -360px;}
.hidden .li13 i{background-position: 0 -388px;}
.hidden .li14 i{background-position: 0 -421px;}
.hidden .li15 i{background-position: 0 -455px;}
.hidden li em{

	display: none;
	float: right;
	width:25px;
	height:35px;
	background: url(../images/share02.png) no-repeat -298px -33px;
}
.red .hidden li:hover{	
	background: #fff;
	opacity: 1;
}
.red .hidden li:hover span{
	color:#c29b6c;
}
.red .hidden li:hover em{
	display: inline-block;
}
.red:hover .hidden{
    display: block;
}

/*banner*/
.bannerWrap{
	height:520px;
	position: relative;
	overflow: hidden;
}
.bannerWrap .banner{
	width: 800%;
	height:520px;	
	margin:0 auto;
	position: absolute;
}
.banner li{
    float: left;
}
.active{	
	width:170px;
	height:23px;
	position: absolute;
	left:540px;
	top:470px;
	background-color: rgba(0,0,0,.4);
	border-radius:20px; 	
}
.active li{
	z-index: 3;
	float: left;
	width:12px;
	height:12px;
	border-radius: 50%;
	background-color:#fff;
	margin:5px 8px;	
}
.l-btn{
	width:30px;
	height:60px;
	background: url(../images/share02.png) no-repeat -300px -370px;
	position: absolute;
	left:150px;
	top:202px;
}
.r-btn{
	width:30px;
	height:60px;
	background: url(../images/share02.png) no-repeat -339px -370px;
	position: absolute;
	left:1076px;
	top:202px;
}


/*品牌旗舰*/
.brand{width:100%;height:118px;background: url(../images/mainx_brandship.png) no-repeat center 40px;}
.brand-ul li{float:left;margin-right: 8px;}
.brand-ul .no-mar{margin-right: 0;}
.brandWrap .hot{height:62px;}
.page{margin:23px 14px 0 0;}
.l_a{
	display: block;
	width:8px;
	height: 17px;
	background: url(../images/share02.png) no-repeat -180px -384px;
}
.r_a{
	display: block;
	width:8px;
	height: 17px;
	background: url(../images/share02.png) no-repeat -160px -384px;
    margin-right: 23px;
}
.hotstore{
	width:100%;
	height:200px;
	position: relative;
	overflow: hidden;
} 
.hotstore li{
	width:1210px;
	float:left;
	margin-top: 23px;
}
.hotstore div{
	width:107px;
	height:55px;
	border:1px solid #dfdfdf;
	padding:14px 29px;
	margin-right: 5px;
	margin-bottom: 7px;
	float:left;
}
.hotstore img{width:107px;height:54px;}

/*海外生活*/
.oversea{
	height:115px;
	background: url(../images/seaover.jpg) no-repeat center;
}
.sea-pic li{
	float:left;
	margin-right: 7px;
}

/*商场同款*/
.shop{
	clear:both;
	height:113px;
	background: url(../images/storesametitle.jpg) no-repeat center;
}
.hot-nav li{
	float:left;
	width:398px;
	height:30px;
	background: #999;	
	line-height: 30px;
	text-align: center;
	font-size:14px;
	margin-right: 5px;
	margin-bottom: 15px;
}
.hot-nav li a{color:#fff;}
.hot-nav li:hover{background: #000;}
.hot-l{margin-right: 8px;}
.hot-r,.hot-l{float:left;}
.hot-r li{
	border:1px solid #ccc;
	float:left;
	margin-right: 8px;
	overflow: hidden;
	position: relative;
}
.hot-t li:nth-child(1){
	width:219px;
	height:250px;
	text-align: center;
}
.hot-r li div{
	font-size:13px;
	color:#666;
	position: relative;
}
.hot-r li div p{
	line-height: 24px;
}

.hot-t li:nth-child(1) img{
	width:155px;
	height:112px;
}
.hot-t li:nth-child(2){
	width:364px;
	height:250px;
}
.hot-t li:nth-child(2) div{
    left:70px;
}
.hot-t li:nth-child(2) img{
	width:180px;
	height:272px;
    position: absolute;
    left:153px;
    top:28px;
}
.hot-t li:nth-child(3){
	width:219px;
	height:250px;
    text-align: center;
}
.hot-t li:nth-child(3) img{
	width:150px;
	height:226px;
}
.hot-b li:nth-child(1){
	width:268px;
	height:257px;
    text-align: center;
}
.hot-b li:nth-child(1) img{
	width:150px;
	height:200px;
}
.hot-b li:nth-child(2){
	width:268px;
	height:257px;
    text-align: center;
}
.hot-b li:nth-child(2) img{
	width:150px;
	height:226px;
}
.hot-b li:nth-child(3){
	width:268px;
	height:257px;
    text-align: center;
}
.hot-b li:nth-child(3) img{
	width:150px;
	height:226px;
}
.hot-t{
	height:252px;
} 
.hot-b{
	height:257px;
	margin-top: 6px;
}

/*购物中心*/
.shoping{
	clear:both;
	height:120px;
	background: url(../images/shopcenter.jpg)
	           no-repeat center;
}
.nav-shoping{
	height:50px;
}
.nav-shoping li{
	width:234px;
	height:50px;
	line-height: 50px;
	background: #999;
	text-align: center;
	font-size: 14px;	
	margin:0 4px;
}
.nav-shoping li a{
	color:#fff;
}
.bags{
	height:60px;
	width:100%;
}
.bags-img{
	margin:16px;
}
.shoping-l{
	width:239px;
	height:370px;
	border:1px solid #cccccc;
	float:left;
}
.shopingUl-l,.shopingUl-r{
	margin-top: 5px;
	margin-bottom: 10px;
	float:left;
}
.shopingUl-l,.shopingUl-r li{
	color:#666666;
	height:37px;
	line-height: 37px;
}
.shopingUl-l{
	margin-left: 10px;
}
.shopingUl-r{
	margin-left: 40px;
}
.shopingUl-l li:hover a{
	color:#c69c6d;
}
.shopingUl-r li:hover a{
	color:#c69c6d;
}
.shoping-logo{
	clear: both;
	width:222px;
	height:135px;
	border-top:1px dashed #666666;
	margin-left:9px;
	overflow: hidden;
}

.shoping-logo img{
	width:90px;
	height:45px;
	margin:15px 8px 0;
}
.shoping-c{
	float:left;
	margin-left: 9px;
}
.shoping-r li{
	float:left;
	border:1px solid #ccc;
	margin:0 0 8px 8px;
}
.shoping-r li img{
	width:273px;
	height:175px;
}
.time{
	height:60px;
	width:100%;
	clear:both;
}
.rightbtn{
	float:right;
	margin-right: 10px;
	overflow: hidden;
	height:60px;
	line-height: 60px;
}
.icon{
	float:right;
	background: url(../images/share02.png) no-repeat -470px -360px;
	width:18px;
	height:60px;
	margin-left: 6px;
}
.moretxt{
	float:right;
	font-size: 16px;
}
.pro{
	clear:both;
	height:120px;
	background: url(../images/promotiontitle.jpg) no-repeat center;
}
.pic-l{
	width:607px;
	float:left;
}
.pic-l div{
	float: left;
	width:192px;
	height:63px;
	border:1px solid #c9c9c9;
	margin:4px;
}
.pic-l img{
	margin:3px;
	margin:0;
}
.pic-r{
	width:600px;
	height:138px;
	margin-top:3px;
}

