/*from ucenter.css*/
.footer_m{background-color: #fff;}
.login{width: 1000px;height: 565px; margin: 20px auto 0;background: #f7f3f2; overflow: hidden;}
.login_left {width: 500px;height:565px; float: left;padding-left: 25px;background: url('/vendor/images/5lux/ucenter_left_bg.jpg') no-repeat}
.login_title{width: 100%;height: 25px;padding-top: 75px;}
.login_title h2{width: 380px; text-align: center; font-size: 24px;color: #6a6a6a}
.login_main {}
.login_form{ padding: 10px 0 0 10px; }
.login_form li,.colorgin_form li{line-height: 25px;margin-bottom: 10px;overflow: hidden;zoom: 1;}
.login_form li label ,.colorgin_form li label{float: left;display: block;width: 65px;text-align: right;padding-right: 10px;_width: 60px;}
.log_btn_box,.reg_btn_box{padding: 18px 0 0 0;overflow: hidden;zoom: 1;text-align: left;}
.log_btn {float: left;}
.login_right {width: 470px;height: 500px; float: right; padding-top:50px;}
.login_right p {font-size: 13px;text-align: left;}
.log_side_btn {margin: 0 auto;height: 45px; background-position: center;margin-bottom: 50px;}
.login_right ul li{width: 470px;margin: 10px 0px;}
.reg_form {}
.reg_cont {padding: 16px 0 20px 0;}
.reg_cont .reg_cont_titl {margin-bottom: 15px;overflow: hidden;width: 100%;}
.reg_cont .reg_method{float:left;_display:inline;border-bottom:#838383 solid 1px;}
.reg_cont .reg_method span{display:inline-block;float:left;line-height:23px;text-align:center;padding:0 20px;}
.reg_cont .reg_method a{display:block;}
.reg_cont .reg_method a:link, .reg_cont .reg_method a:visited{color:#838383;text-decoration:none;}
.reg_cont .reg_method .reg_method_now{color:#2a2a2a;border-bottom:#d33031 solid 2px;}
.reg_info li{line-height:25px;margin-top:10px;overflow:hidden;zoom:1;*+margin-top: 5px;}
.reg_info li label{float:left;display:block;width:105px;text-align:right;padding-right:10px;}
.reg_info li .reg_ver{overflow:hidden;width:300px;}
.reg_info li .reg_ver img{display:block;margin-bottom:5px;}
.reg_info li .reg_ver a{display:block;float:right;color:#5858ff;}

.input180 {float: left;margin: 0 3px 0 0;_margin-right: 0;}
.input180 input {border: #000 solid 1px;width: 190px;height: 22px;line-height: 22px;margin-right: 3px; }

.input180r {float: left;margin: 0 3px 0 0;_margin-right: 0;}
.input180r input {border: #000 solid 1px;width: 190px;height: 22px;line-height: 22px;margin-right: 3px; display: block;}

.msg_tips {display: inline-block;font-size: 12px;color: #666;line-height: 15px;vertical-align: middle;width: 150px;}
/*.msg_warning {display: inline-block;font-size: 12px;color: #f00;line-height: 15px;vertical-align: middle;width: 150px;}*/
.msg_warning {display: inline-block;font-size: 12px;color: #f00;line-height: 28px;vertical-align: middle;width: 150px;}

.reg_btn { margin: 10px 0 0 115px;*+margin: 0px 0 0 115px;}

.checkcodebox input, .cologin_existed input, .cologin_new_cont input {border: #000 solid 1px;height: 22px;line-height: 22px;width: 149px;margin-right: 41px;}
#recaptcha_image{margin-left: 65px;}


.log_btn_box a:link, .log_btn_box a:visited {color: #0434be;}
.log_btn_box a {display: inline-block;font-size: 12px;margin-left: 10px;margin-top: 5px;}
.reg_btn_box a:link, .log_btn_box a:visited,.reg_btn_box a:visited {color: #0434be;}
.reg_btn_box span {display: inline-block; font-size: 12px;float: left;margin-left: 10px;margin-top: 5px;}
.log_btn_box span {display: inline-block; font-size: 12px;margin-left: 10px;_margin-top: 5px;}
.log_btn_box input.all_bigBtn{padding:0px 20px;}
.reg_btn_box a {display: block; font-size: 12px;float: left;margin-top: 5px;}
.reg_btn_box input{float: left;}

/*联合登陆*/
.cologin {margin-left: 80px; margin-top: 40px; }
.cologin ul{overflow: hidden;width: 290px;}
.cologin ul li{width: 124px;float: left;height: 28px;display: inline-block;margin: 6px 10px;}
.reg_success {overflow: hidden;padding: 60px 0 50px; font-family: "微软雅黑";}
.reg_success h1 {font-size: 28px; text-align: center;color: #db6567;font-weight: normal;margin-bottom: 30px;}
.reg_success p {text-align: center;color: #535353; font-size:14px;}
.reg_success .reg_success_shopping:link, .reg_success .reg_success_shopping:visited {background-color: #cf0201; color: #fff; padding: 10px 95px; display: inline-block; margin: 0 auto; text-align: center; margin-top: 65px;}
.reg_success_tips {margin-top: 30px; margin-bottom:10px;}
.reg_success_tips p {color: #222325;}
.reg_success_tips p a{text-decoration:underline; color:#a67135;}
.reg_success_good{height:400px;}

.sms_code {color: #000;font-size: 12px;line-height: 20px;padding: 2px 5px;display: inline-block;cursor: pointer;background: #ccc;}

/*邀请好友*/
.cologin_box{background-color: #e9e9e9;padding: 20px 0px;}
.cologin_item{ margin-top:2px;}
.colorgin_title{padding:0px 0px 0px 95px;}
.colorgin_form{ padding:35px 0px 10px 120px;}
.colorgin_form ul li p,.login_form ul li p{clear: both;padding-left: 80px;color:#535252;}
.red_btn_box{margin: 10px 0 0 72px;overflow: hidden;zoom: 1;}
.colorgin_regform{padding:15px 0px 0px 120px;}
.find_yzm{ width: 100px;float: left;margin:4px 4px;*+margin:2px 0px;}
.colorgin_title a:hover{color:red;}


/*密码重置*/
#resetpass_con{width: 730px;margin:0 auto;}
.reset_pass{font-size: 16px;padding:25px 0px;color:#f00;}
.reset_form{margin-left:150px; overflow: hidden; text-align: center; }
.reset_form li{line-height: 25px;margin-bottom: 10px;overflow: hidden;zoom: 1; }
.reset_form li label{float: left;display: block;width: 100px;text-align: right;padding-right: 10px;}
.reset_btn_area{ padding-left: 114px;}
.reset_form ul li p{clear: both;color:#535252; text-align: left;padding-left: 114px;}
.reset_text_con{padding: 80px 0px 60px 230px;}
.reset_text{display: inline-block; height:28px; position: relative; overflow: hidden;zoom:1;}
.reset_text b{display: inline-block; width: 31px;height:28px; position: absolute;top: 0px;left:0px; float: left;}
.reset_text span{display: inline-block; float: left;padding-left: 40px;}
.rsuc_login{width: 260px;margin:0 auto;overflow: hidden;zoom: 1;}
.rsuc_login_btn{width: 190px;float: left;}
.rsuc_login_text{display: inline-block;float: left; height: 40px; line-height: 40px; vertical-align: middle;}
.rsuc_login_text a{color:blue;}
.rsuc_login_text a:hover{color:#d00000;}
.reset_text_con2{padding: 80px 0px 60px 158px;}
/*from ucenter.css-end*/

.header_con {width: 100%; height: 100px;overflow: hidden; zoom: 1; text-align: center;}
.register_header{width: 1000px; overflow: hidden; zoom: 1; margin: 10px auto 0px auto;position: relative;}
.register_header .logo{line-height: 82px;}
.register_header .logo .register_headlogo_title{font-family:Helvetica,黑体;font-size: 18px;color: #949292;float: left;padding-left: 10px;}
.register_header .logo img{float:left;}
.register_header_phone{position:absolute;right: 0;bottom: 0px;line-height: 27px; height: 27px;}
.register_header_phone span{font-family:Helvetica,黑体;font-size: 15px;color: #000;}
/*.kefu{float: right; margin-top: 92px; margin-right: 100px; margin-bottom: 47px;}
.kefu img{float: left;}
.kefu span{float: left; color: #000;}*/
.register{background-color: #ecebe7; overflow: hidden; zoom:1; margin: 0 auto; }
.register_content{width: 1000px; margin: 0 auto;position:relative;}
.register_left{width: 705px; height: 680px; position:absolute;z-index:5;top:0;}
.register_right{width:450px; background-color: #fff; float: right; margin-top: 47px; margin-left: 10px;
                -webkit-box-shadow: #afabab 0px 0px 8px;
                -moz-box-shadow: #afabab 0px 0px 8px;
                box-shadow: #afabab 0px 0px 8px;}
.register_box{width:300px;margin: 45px auto;text-align: left;}
.register_box ul{display: block; position:relative;}
.re_con_title{ width: 100%;padding-bottom: 12px;text-align: left; overflow: hidden;color: #6d6d6d;font-size: 15px; border-bottom: #ccc solid 1px;}
.re_method span{padding:3px 5px;}
.re_method_now{background-color:#000; color: #fff; }
.re_title_way{ 
    width: 100%;
    text-align: center; 
    overflow: hidden;
    color: #6d6d6d;
    font-size: 15px;
    border-bottom: #ccc solid 1px;
    text-align: center;
    font-family:Helvetica,黑体;font-size: 12px;color: #7b7c7c;
}
.re_title_way span{height: 25px;line-height: 25px;padding:2px 20px;border-top-left-radius: 5px 5px;border-top-right-radius: 5px 5px; position:absolute; left:0; top:-30px;}
.re_con{
    padding-left: 2px;
    height:64px;
}
.re_spa{margin-top:30px;}
.re_bot{padding-bottom: 20px;}
.re_con input{width:210px; height: 32px; line-height: 32px; vertical-align:middle; float: left;border: 1px solid #ccc;}
.register_box li label{ width:72px; float: left; text-align: right; line-height: 32px; height: 32px; vertical-align: middle;}
.tongyi{margin-left: 62px; _margin-left:50px; margin-bottom: 20px;}

.register_btn{width: 210px; display: inline; margin-left: 72px; height: 30px; line-height: 30px; vertical-align: middle; color: #fff; font-size: 16px; border: 0px; cursor: pointer; overflow: hidden; background-color:#cf0101; }
.re_login{ text-align: right; padding-top: 5px; padding-bottom: 20px; padding-right: 50px; border-bottom: #ccc solid 1px;}
.re_login a{text-decoration: underline;color: #a78668}
.re_tishi{padding-top: 30px; padding-bottom: 10px; text-align: center}
.re_tishi span{color: red;}

.re_con1{padding: 10px 0px; height: 25px;}
.re_con1 input{width:200px; height: 25px; float: left;}

.login_method{float: left; font-size:18px; padding-bottom: 20px;}
.login_con{
    height: 64px;
/*    line-height: 64px;  */
    padding-left: 25px; *padding-left:0px;}
.login_con input{width:250px; height: 32px; line-height: 32px;
vertical-align: middle; border: 1px solid #ccc;}
.login_user{background: url(/vendor/images/5lux/login/login_user.jpg) no-repeat; background-position: -1px -7px;}
.login_password{background: url(/vendor/images/5lux/login/login_password.jpg) no-repeat; background-position: -1px -8px;}
.jizhu{padding-left: 25px;margin-top: 5px; margin-bottom: 10px; display: inline-block;}
.jizhu input{float: left;  margin-top: 5px; margin-right: 5px;}
.jizhu span{float: left;}
.jizhu a{color: #a78668; text-decoration: underline; margin-left: 45px;}
.login_btn{display: inline;width:250px; margin: 0 auto; height: 30px; line-height: 30px; vertical-align: middle; color: #fff; font-size: 16px; border: 0px; cursor: pointer; overflow: hidden; background-color:#cf0101;}
.login_re{ text-align: right; padding-top: 20px; padding-bottom: 20px; padding-right: 25px; border-bottom: #ccc solid 1px;}
.login_re a{text-decoration: underline; color:#a78668; margin-left: 10px;}
.login_hezuo{padding-top: 20px;text-align: center;}
.login_hezuo p{float: left; padding-left: 25px;}
.hezuo_icon{padding-left: 20px;}
.hezuo_icon img{float: left;}
.reg_input_user_bg{
    background: url(/vendor/images/5lux/login/v2/login_reg_input_user_bg.jpg) no-repeat;
    text-indent: 2.8em;
}
.reg_input_pw_bg{
    background: url(/vendor/images/5lux/login/v2/login_reg_input_pw_bg.jpg) no-repeat;
    text-indent: 2.8em;
}
.clear_h32{
    height: 32px;
    line-height: 32px;
    clear: both;
    float: none;
}
.reg_btn_wrap{
     padding-left: 25px;
     margin-top: 10px;
}
.get_sms_code{
    width: 70px;
    line-height: 25px;
    height: 25;
/*    background: #666;*/
    border: 1px solid #ccc;
    color:#000;
    position: absolute;
    right: -30px;
    top: 3px;
    cursor: pointer;
    text-align: center;
}
.get_sms_code:hover{
    background: #a78668;
    color: #fff;
}